:root {
    --main-bg-color: #2E3532;
    --card-color: #A0AAB2;
    --text-color: #C7CEDB;
    --accent-color: #7E9181;
    --second-accent-color: #94849B;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(135deg, var(--main-bg-color), var(--second-accent-color));
    color: var(--text-color);
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.logo-img {
    width: 200px;
    opacity: 0.35;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header h1 {
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

li {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 20px;
}

.add-cars {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.add-cars form input{
    min-width: 500px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
}

.card-section {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.card {
    background: rgba(160, 170, 178, 0.37);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(126, 145, 129);
    color: var(--main-bg-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.card-header {
    font-size: 1.5rem;
    margin-top: 10px;
}

.card-body {
    margin-bottom: 10px;
}
